# Python virtual environment
.venv/

# Django / Database
db.sqlite3
db.sqlite3-journal
*.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# node packages
frontend/node_modules/
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
